body{
  background-color: rgb(0, 195, 255);
  font-family: 'Kaisei Opti', serif;
}
button{
  border-radius:30px;
  border: 4px dotted rgb(229, 237, 243);
  width: 235px;
  height: 30px;
  padding: 5px 20px;
  background-color: gold;
  font-family: 'Kaisei Opti', serif;
  font-size: larger;
  text-align: center;
  display:flex;
  align-items: center;
}

/* 吹き出し本体 */
.voice{
  position: relative;
  padding: 20px;
  width: fit-content;
  height: 30px;
  align-items: center;
  display:flex;
  background-color: #f5f79a;
  border-radius: 50px;
}
/* 大きい丸 */
.voice::before{
  content: '';
  position: absolute;
  display: block;
  border-radius: 50%;
  background-color: #f5f79a;
  top: -35px;
  bottom: 15px;
  width: 30px;
  height: 30px;
}
/* 小さい丸 */
.voice::after{
  content: '';
  position: absolute;
  display: block;
  border-radius: 50%;
  background-color: #f5f79a;
  top: -55px;
  bottom: 10px;
  width: 15px;
  height: 15px;
}