body{
  background-color: rgb(0, 195, 255);
  font-family: 'Kaisei Opti', serif;
  color: rgb(5, 3, 37);
}

/*「教えて」ボタン*/
button{
  border-radius:30px;
  border: 4px dotted rgb(229, 237, 243);
  width: 235px;
  height: 30px;
  padding: 5px 20px;
  background-color: gold;
  font-family: 'Kaisei Opti', serif;
  font-size: larger;
  text-align: center;
  display:flex;
  align-items: center;
}

/* 吹き出し本体 */
.voice{
  float: left;
  display: flex;
  position: relative;
  padding: 20px;
  width: fit-content;
  height: 30px;
  align-items: center;
  background-color: #e2e487;
  border-radius: 50px;
}
/* 大きい丸 */
.voice::before{
  float: left;
  display: flexbox;
  content: '';
  position: absolute;
  display: block;
  border-radius: 50%;
  background-color: #e2e487;
  top: -30px;
  bottom: 15px;
  width: 25px;
  height: 25px;
}
/* 小さい丸 */
.voice::after{
  float: left;
  display: flexbox;
  content: '';
  position: absolute;
  display: block;
  border-radius: 50%;
  background-color: #e2e487;
  top: -50px;
  bottom: 10px;
  width: 15px;
  height: 15px;
}

/* 回答エリア*/
.message{
  font-family: 'Kaisei Opti', serif;
  color: rgb(19, 13, 110);
  text-align: center;
  font-weight: bolder;
}

/* リセットボタン */
.reset{
  float: right;
  width: 12 px;
  height: 50px;
  margin-left: auto;
  padding: 0px 24px;
  outline: 0;
  border: none;
  border-radius: 50px;
  background-color: rgb(19, 13, 110);
  font-family: 'Kaisei Opti', serif;
  align-items: center;
  font-size: 18px;
  font-weight: 500;
  color: rgb(241, 236, 236);
}

/*スナメリ*/
.family{
  position: relative;
  margin-bottom: 10%;
}
/*大スナメリ*/
.family .big{
  position: absolute;
  left: 0;
  transform-origin:top;
  -webkit-transform-origin:top;
  -moz-transform-origin:top;
  animation:big ease-in-out 3s infinite alternate;
  -webkit-animation:big ease-in-out 3s infinite alternate;
  -moz-animation:big ease-in-out 3s infinite alternate;
 }
  @keyframes big{
    0%   { transform: rotate(5deg); }
    100% { transform: rotate(-5deg); }
  }
  @-webkit-keyframes big{
    0%   { -webkit-transform: rotate(5deg); }
    100% { -webkit-transform: rotate(-5deg); }
  }
  @-moz-keyframes big{
    0%   { -moz-transform: rotate(5deg); }
    100% { -moz-transform: rotate(-5deg); }
  }
/*中スナメリ*/
.family .middle {
  position: absolute;
  top: -500px;
  left: 20%;
  animation:middle ease-in-out 35s infinite alternate;
  -webkit-animation:middle ease-in-out 35s infinite alternate;
  -moz-animation:middle ease-in-out 35s infinite alternate;
}
  @keyframes middle{
    0%   { top: -500px; left: 20%; }
    40%  { top: -200px; left: 50%; }
    60%  { transform: scale(-1); left: 70%;}
    100% { top: 100px; left: 20%; }
  }
  @-webkit-keyframes middle{
    0%   { top: -500px; left: 15%; }
    40%  { top: -200px; left: 50%; }
    60%  { transform: scale(-1);  left: 70%;}
    100% { top: 100px; left: 20%; }
  }
  @-moz-keyframes middle{
    0%   { top: -500px; left: 15%; }
    40%  { top: -200px; left: 50%; }
    60%  { transform: scale(-1);  left: 70%;}
    100% { top: 100px; left: 20%; }
  }
/*小スナメリ*/
.family .small{
  position: absolute;
  top:-150PX;
  right: 0;
  animation:small ease-in-out 5s infinite alternate;
  -webkit-animation:small ease-in-out 5s infinite alternate;
  -moz-animation:small ease-in-out 5s infinite alternate;
}
  @keyframes small{
    0%   { transform:translate(0%, 0%); }
    100% { transform:translate(0%, -100px); }
  }
  @-webkit-keyframes small{
    0%   { -webkit-transform:translate(0%, 0%); }
    100% { -webkit-transform:translate(0%, -100px); }
  }
  @-moz-keyframes small{
    0%   { -moz-transform:translate(0%, 0%); }
    100% { -moz-transform:translate(0%, -100px); }
  }